name: front push and build

on:
  push:
    branches: [main]

jobs:
  front1-push-and-build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    
    - name: Deploy
      env:
        PRIVATE_KEY: ${{ secrets.PRIVATE_KEY }}
        USER_NAME: ${{ secrets.USER_NAME }}
        HOST_NAME_ONE: ${{ secrets.HOST_NAME_ONE }}
      run: |
        echo "$PRIVATE_KEY" > private_key && chmod 600 private_key
        ssh -o StrictHostKeyChecking=no -i private_key ${USER_NAME}@${HOST_NAME_ONE} 'cd mennrenn_vue_front &&
        git pull origin main &&
        cd front &&
        /home/ec2-user/mennrenn_vue_front/front/yarn -v'
